/* styling file for header, images, and buttons */
.image {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn {
  position: fixed;
  text-align: center;
}

.header {
  text-align: center;
}

/* Positioned arrows so that they take the left and right quarters of the picture.  */
/* Made the text, background, and border color transparent so the buttons are not visible*/
/* Changed the cursor to indicate that user is hovering over the button*/
.right-button {
  cursor: e-resize;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(200%, -50%);
  height: 400px;
  width: 150px;
  font-size: 3rem;
  color: transparent;
  background-color: transparent;
  border-color: transparent;

}

.left-button {
  cursor: w-resize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  height: 400px;
  width: 150px;
  font-size: 3rem;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  
}
/*Was not able to correctly implement the cross-fade animation, so I chose to have a .50 second ease transition*/
.slide {
  opacity: 0; 
  transition-duration: .50s ease; 
}


.slide.active {
  opacity: 1; 
  transition-duration: .50s;
}


